<h1> Add A New Photo </h1>

<form action = "/create_photo">
  <label for="cap"> Caption </label>
  <input id = "cap" type="text" name="cap">
<label for="src"> Image Url </label>
  <input id = "src" type="text" name="src">
  <button> Add Photo </button>
</form>
