<h1> Add A New Photo </h1>

<form action = "/create_photo">
  <label for="cap"> Caption </label>
  <input id = "cap" type="text" name="cap">
  <div>
    <label for="src"> Image URL </label>
    <input id = "src" type="text" name="src">
    <button> Create Photo </button>
  </div>
</form>
